* {
  margin: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;;
  zoom: 0.85;
  background: #1F1F29;
}

input, select {
  flex: 1;
  padding: 1vw;
  border: none;
  border-radius: 5px;
  font-size: 1.5vw;
  background-color: #2B2B3A;
  color: white;
}

.taskbar {
  background: black;
  display: flex;
  padding: 1.5vw;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid white 0.07vw;
}

.taskbar .profilecontainer {
  display: flex;
  color: white;
  gap: 1vw;
  justify-content: flex-end;
  align-items: center;
  font-size: 1vw;
}

.taskbar h1 {
  font-size: 2vw;
}

.profilecontainer img {
  width: 3vw;
  border-radius: 25vw;
}

.profilecontainer button {
  background: none;
  color: white;
  border: none;
  text-align: center;
  font-size: 1.31vw;
  padding: 0;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.profilecontainer button:hover {
  background: rgba(100,100,100,20);
  cursor: pointer;
}

.request-container {
  background: #1F1F29;
  padding-top: 3vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.request-container .title {
  color: white;
  font-size: 2.5vw;
  margin-bottom: 2vw;
}

.request-container .title2 {
  color: gray;
  font-size: 2vw;
}

.request-form {
  margin-top: 2.5vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.request-form .form-row {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 1vw;
  margin-top: 1vw;
}

.submit-btn, .print-btn {
  background-color: #63E973;
  border: none;
  padding: 1vw 1vw;
  font-size: 1.5vw;
  font-weight: bold;
  border-radius: 0.36vw;
  cursor: pointer;
  color: black;
}

.print-btn {
  padding: 1vw 4vw;
}

.print-btn {
  background-color: #63E973;
}

.submit-btn:hover {
  background-color: #159a8d;
}

.print-btn:hover {
  background-color: #159a8d;
}

.note {
  text-align: center;
  margin-top: 1vw;
  margin-bottom: 2vw;
  color: gray;
  font-size: 1.5vw;
}

.back-btn {
  margin-top: 1.5vw;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 0.5vw 1vw;
  border-radius: 0.36vw;
  cursor: pointer;
  font-size: 1.5vw;
}

.back-btn:hover {
  background-color: rgb(50,50,50);
}

/* Floating menu */

.user-menu-main {
  position: fixed;
  backdrop-filter: blur(0.4vw);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.user-menu-slide {
  position: fixed;
  right: 0;
  transform: translateX(100%);
  width: 35%;
  height: 100%;
  background: black;
  z-index: 10;
  color: white;
  padding: 4vw 2vw;
}

.user-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5vw;
  border-bottom: solid white 0.07vw;
  padding-bottom: 1vw;
}

.user-menu-header button {
  background: none;
  border: none;
  padding: 0.5vw;
  color: white;
  font-size: 3.5vw;
}

.user-menu-header button:hover {
  background: rgb(50,50,50);
}

.user-menu-header img {
  width: 10%;
  border-radius: 25vw;
}

.user-menu-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  color: white;
  padding-top: 2vw;
  font-size: 1.5vw;
  gap: 1vw;
}

.user-menu-body a {
  color: white;
  text-decoration: none;
  padding: 2vw 1vw;
  width: auto;
  text-align: center;
  background: none;
}

.user-menu-body a:hover {
  background: rgb(50,50,50);
}

.user-menu-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5vw;
  position: absolute;
  bottom: 0;
}

.user-menu-logout-btn {
  font-size: 1.5vw;
  border: none;
  background: rgb(206, 10, 10);
  width: 100%;
  padding: 2vw 1vw;
  border-radius: 0.7vw;
}
