* {
	margin: 0;
	box-sizing: border-box;
	background: #1F1F29;
	color: #FFFFFF;
	user-select: none;
}

body {
	font-family: Sans-Serif;
	font-size: 1vw;
	zoom: 0.85;
}

.maincontainer {
	gap: 0.7vw;
	display: flex;
	flex-direction: column;
}

.faqcontainer {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #1F1F29;
	z-index: 3;
	zoom: 0.85;
}

.faqcontainer .fcquicknav {
	gap: 27vw;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 2vw;
	width: 100%;
	border-bottom: solid white 0.07vw;
	align-items: center;
}

.faqcontainer .fcquicknav a {
	font-size: 1.5vw;
	border: none;
	background: #63E973;
	border-radius: 0.35vw;
	color: black;
	padding: 1vw;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
    text-decoration: none;
}

.faqcontainer .fcquicknav a:hover {
	cursor: pointer;
	background: #159a8d;
}

.fcquicknav .faqtitle {
	display: flex;
	width: 100%;
	position: inherit;
	z-index: -1;
	justify-content: center;
	transform: translateX(-1.8vw);
}

.faqcontainer .faqsection {
	display: flex;
	justify-content: center;
	padding-top: 8vw;
	height: 100%;
	align-items: center;
	padding-left: 30vw;
	padding-right: 30vw;
}

.faqsection img {
	height: 10%;
}