* {
	margin: 0;
	box-sizing: border-box;
	color: white;
	background: #1F1F29;
	font-family: Sans-Serif;
	user-select: none;
}

noscript {
	font-size: 2.5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1vw;
	background: #BB0000;
	color: #FFFFFF;
}

body {
	zoom: 0.85;
}

.main1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.div1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: black;
	align-items: center;
	padding: 1.5vw;
}

.div1_1 {
	width: 100%;
	display: flex;
	justify-content: center;
	background: none;
}

.div1 h2 {
	font-size: 1.75vw;
	background: black;
}

.div2 {
	grid-template-areas: 'nav aside';
	border-radius: 1vw;
	display: grid;
	margin: 1.5vw;
	padding: 2vw;
	filter: drop-shadow(0.14vw 0.3vw 0.44vw black);
}

/* Left side navigator */

.div3 {
	grid-area: 1 / 1 / span 1 / span 1;
	/* border-right: solid white 2px; */
	display: flex;
	flex-direction: column;
	width: 23vw;
	gap: 1vw;
}

.div3 button {
	border: none;
	border-radius: 0.7vw;
	padding: 1.5vw;
	padding-top: 2vw;
	padding-bottom: 2.5vw;
	padding-left: 5vw;
	padding-right: 5vw;
	filter: drop-shadow(1px 2px 3px black);
	font-size: 1.5vw;
	margin-right: 1.5vw;
}

.div3 button:hover {
	cursor: pointer;
	background: #555555;
}

/* Right side navigation */

.div4 {
	grid-area: 1 / 2 / span 1 / span 100;
	padding-left: 30px;
	visibility: visible;
	position: relative;
}

.div4_1 {
	gap: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.div4_1 img {
	width: 10vw;
	height: 10vw;
}

.div4_1 img {
	border-radius: 0.5vw;
}

.div4_1 img:hover {
	cursor: pointer;
}

.div4_1_1, .div4_1_2, .div4_1_3,
.div4_1_4, .div4_1_5, .div4_1_6,
.div4_1_7, .div4_1_8, .div4_1_9,
.div7_1_1, .div7_1_2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.div4_1_1 label, .div4_1_2 label,
.div4_1_3 label, .div4_1_4 label,
.div4_1_5 label, .div4_1_6 label,
.div4_1_7 label, .div4_1_8 label,
.div4_1_9 label, .div7_1_1 label,
.div7_1_2 label {
	font-size: 1.5vw;
	margin-bottom: 0.35vw;
}

.div4_1_1 input, .div4_1_2 input,
.div4_1_5 input, .div4_1_6 input,
.div4_1_7 input, .div7_1_1 input,
.div7_1_2 input {
	background: #2B2B3A;
	border: none;
	border-radius: 0.5vw;
	height: 3.5vw;
	color: white;
	font-size: 1.35vw;
	padding-left: 0.7vw;
}

.div4_1_1 input {
	width: 33.5vw;
}

.div4_1_2 input {
	width: 4.8vw;
}

.div4_1_3_1 {
	gap: 1vw;
	display: flex;
	align-items: center;
}

.div4_1_3_1 label {
	margin-right: 1.5vw;
	margin-bottom: 0;
}

.div4_1_3_1 input[type="radio"] {
	width: 1.5vw;
	height: 1.5vw;
}

.div4_1_4 select, .div4_1_7 select,
.div4_1_8 select, .div4_1_9 select {
	background: #2B2B3A;
	border: none;
	border-radius: 0.5vw;
	height: 3.5vw;
	color: white;
	font-size: 1.35vw;
	padding-left: 0.7vw;
	width: 30vw;
}

.div4_1_4 option, .div4_1_7 option,
.div4_1_8 option, .div4_1_9 option {
	background: #2B2B3A;
	color: white;
}

.div4_2 {
	gap: 1.45vw;
	display: flex;
	justify-content: flex-end;
	padding-top: 5vw;
}

.div4_2 button {
	background: #63E973;
	border: none;
	border-radius: 0.7vw;
	padding-left: 2.5vw;
	padding-right: 2.5vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	filter: drop-shadow(2px 0px 3px black);
	color: black;
	font-size: 1.3vw;
}

.div4_2 #delete {
	background: #000000;
	border: none;
	border-radius: 0.7vw;
	padding-left: 2.5vw;
	padding-right: 2.5vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	color: white;
	font-size: 1.3vw;
}

.div4_2 #delete:hover {
	transition: all 200ms ease-in;
	background: #CC0000;
	filter: drop-shadow();
}

.div4_2 button:hover {
	transition: all 200ms ease-in;
	background: #45944E;
	cursor: pointer;
}

.div5 {
	grid-area: 1 / 2 / span 1 / span 100;
	visibility: hidden;
	position: absolute;
	display: flex;
}

.div5_1 {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-align: center;
}

.div5_1 h4 {
	font-size: 1.5vw;
}

.div5_1 img {
	width: 5%;
}

.div6 {
	grid-area: 1 / 2 / span 1 / span 100;
	visibility: hidden;
	position: absolute;
	display: flex;
}

.div6_1 {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-align: center;
}

.div6_1 h4 {
	font-size: 1.5vw;
}

.div6_1 img {
	width: 5%;
}

.div7 {
	grid-area: 1 / 2 / span 1 / span 100;
	gap: 1.5vw;
	visibility: hidden;
	position: absolute;
	display: flex;
	flex-direction: column;
	padding-left: 2vw;
}

.div7_1 {
	gap: 1.5vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.div7_2 button {
	background: #63E973;
	border: none;
	border-radius: 0.7vw;
	padding-left: 2.5vw;
	padding-right: 2.5vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	color: black;
	font-size: 1.3vw;
}

.div7_2 button:hover {
	background: #45944E;
	cursor: pointer;
}

.div4_2_1 {
	display: flex;
	font-size: 1.5vw;
	align-items: center;
	align-content: flex-start;
}

.div7_1_3 {
	gap: 0.7vw;
	padding-top: 0.7vw;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	text-align: center;
}

.div7_1_3 label {
	margin-bottom: 0;
	font-size: 1.5vw;
}

.div7_1_3 input[type="checkbox"] {
	width: 1.5vw;
	height: 1.5vw;
}

.div7_2 {
	gap: 1.5vw;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
}

.delete-div-button {
	background: #DD0000;
}

.delete-div-button:hover {
	transition: all 200ms ease-in;
	background: #AA0000;
	cursor: pointer;
}

.no-div-button {
	background: #63E973;
}

.no-div-button:hover {
	transition: all 200ms ease-in;
	background: #45944E;
	cursor: pointer;
}

.home-button-div {
	margin: 1.5vw;
	margin-left: 3.5vw;
	display: flex;
	/* justify-content: center; */
}

.home-button-div a {
	font-size: 1.5vw;
	padding: 1vw;
	border: solid white 0.07vw;
	border-radius: 0.5vw;
	background: #2B2B3A;
	color: white;
	padding-left: 2vw;
	padding-right: 2vw;
	text-decoration: none;
}

.home-button-div a:hover {
	transition: all 200ms ease-in-out;
	background: rgba(100,100,100,50);
	cursor: pointer;
}
